<h1>Ivan the Terrible's Blog</h1>

<section class="blog">
  <section class="post">
    <% @posts.each do |post| %>
      <h2>Post <%= "#{post.id}: #{post.title}" %></h2>
      <div class="post"><%= post.body %></div>
      <%= render 'post_nav', post: post %>
      <% post.comments.each do |comment| %>
        <div class="comment">
          <h3>Comment <%= comment.id %>:</h3>
          <p><%= comment.body %></p>
          <div class="reply">
            <% comment.replies.each do |reply| %>
              <h4>Reply <%= reply.id %>:</h4>
              <p><%= reply.body %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</section>

<br />

<%= link_to 'New Post', new_post_path %>

<h1>Cache Stats</h1>

<table>
  <tr>
    <th>Metric</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>Cache hits:</td>
    <td><%= @stats['get_hits'] %></td>
  </tr>
  <tr>
    <td>Cache misses:</td>
    <td><%= @stats['get_misses'] %></td>
  </tr>
  <tr>
    <td>Cache flushes:</td>
    <td><%= @stats['cmd_flush'] %></td>
  </tr>
</table>
